<!DOCTYPE html>
<html lang="en" ng-app="PiSpyApp">
  <!--# include file="head.html" -->
  <body>
  <!--# include file="top.html" -->

      <table class="table table-striped">
        <thead>
          <tr>
            <th>Image</th>
            <th>KBytes</th>
            <th>Modified</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody ng-controller="ArchiveController">
          <tr ng-repeat="file in archive.contents">
            <td><a href="/archive/jpg/{{ file.filename }}" class="piclink">{{ file.filename }}</a></td>
            <td>{{ file.bytes / 1024 | number:1 }}</td>
            <td>{{ file.mtime * 1000 | date:'yyyy-MM-dd HH:mm' }}</td>
            <td>
              <a href="/archive/jpg/{{ file.filename }}" download="{{ file.filename }}">
                <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true" title="Download {{ file.filename }}"></span>
              </a>
              <a href ng-click="archive.contents.splice($index,1); delete(file.filename)">
                <span class="glyphicon glyphicon-remove" aria-hidden="true" title="Delete {{ file.filename }}"></span>
              </a>
            </td>
          </tr>
        </tbody>
      </table>

      <a class="btn btn-default" href="/archive" role="button">old archive</a>
      <br/>
      <br/>
  <!--# include file="bottom.html" -->
  </body>
</html>
